Dependencies required to run the chatbot:

beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650274792587/work
Flask @ file:///C:/ci/flask_1658841820988/work
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
httptools==0.5.0
numpy==1.23.5
oauthlib==3.2.2
Pillow==9.3.0
pymongo==3.10.1
python==3.8.15
rasa==3.3.1
rasa-sdk==3.3.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1